
#main-container {
  width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

.home-page .nav-item {
  margin: 30px;
}

.nav-bar {
  background-color: #F4F2EB;
  display: grid;
  grid-template-columns: 10% 20% 65% 5%;
  grid-template-rows: 50% 50%;
  position: sticky;
  top: 0;
  z-index: 2
}

.home-page{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.nav-item {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  align-self: center;
}

.nav-link-dot {
  color: Black;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  padding: 0px 15px;
  text-decoration: none;
  opacity: 0.5;
}

.nav-link-dot:focus, .nav-link-dot:hover {
    text-decoration: none;
}


.vl {
  height: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.46);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down-side {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 5px;
  margin-bottom: 2px;
}

.right-side {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.company-info{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 500;
  font-size: 20px;
}

.content {
  background-color: #CB0007;
  height: auto;
  display: grid;
}

.bringing-people {
  color: #ffffff;
  font-weight: 800;

}

.bringing-people-one {
  color: #ffffff;
}

.img-grp{

}

.mask-group-man{
  position: relative;
  left: 300px;
  bottom: 25px;

}

.mask-group{
  position: absolute;
  z-index: 1;
}

.box{
  width: 250px;
  height: 250px;
  background-color: #D8B243;
  position: relative;
  top: 225px;
  left: 265px;
  border-radius: 20px;
}

.content .m-5 .Portfolio{
  background-color: #D8B243;
  border-color: #D8B243;
  color: black;
}

.main-second-block {
  display: grid ;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.man-with-glass {
  grid-column-start: 1;
}

.main-second-content  {
  grid-column-start: 2;
  align-self: end;
}

.main-second-content h2 {

}

.main-second-content p {

}

.footer{

}

.footer .heading {
  font-size: 25px;
  font-weight: 500;
}

.footer .extra-info {
  opacity: 0.51;
}

/** Responsive **/
